
body {
    margin: 0;
    height: 100vh;
    font-size: 1.3rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
#root {
    height: 100%;
  }
/* Layout */
 .container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
strong.login{
  color: #363636;
}
strong.login:hover{
  color: #ffc107;
}
main{
    grid-area: main;
    padding: 1rem;
}

footer{
    grid-area: footer;
    background-color: white;
    color: rgb(77, 77, 77);
}

  /* Header */
   header a {
    color: #363636;
    padding: 1rem;
  }
  img.brand{
      padding: 0.5rem;
      margin-top: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
 /* .badge {
    background-color: #ffc107;
    color: #363636;    
    border-radius: 100%;   
    padding: 0.2rem 0.5rem;   
    font-size: 1.2rem;
} */
/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 25rem;
  width: 100%;
}


/* Rating */
.rating span {
  color: #ffc107;
  margin: 0.1rem;
}
.rating span:last-child {
  color: white;
}

/* fontawesome css custom*/
.fa-shopping-cart{
  color: #363636;
}
.fa-shopping-cart:hover{
  color: #ffc107;
}
.fa-user{
  color: #363636;
}
.fa-user:hover{
  color: #ffc107;
}
